extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is a simple timestamp microservice that converts time from Unix format to natural language format. And the other way around also.
  p 
    |The specs of this app come from 
    a(href='https://www.freecodecamp.com/challenges/timestamp-microservice') FreeCode Camp challenge
  ul
    li User-Story: I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016).
    li User Story: If it does, it returns both the Unix timestamp and the natural language form of that date.
    li User Story: If it does not contain a date or Unix timestamp, it returns null for those properties.

  p E.g.
  p Appending this line to the website url
  p /6 September 1981
  p the APP will reply {"unix":368582400,"natural":"6 September 1981"}.
  p Then, appending /368582400, the reply will be exactly the same (well, in a sligthly different format). Try yourself!
